/*body*/

body {
    background-color: #F5F5F5;
    font-family: 'Courier prim', Courier, monospace;
    font-weight: normal;
}

h1 {
    font-weight: normal;
    margin-top: 150px;
    margin-left: 50px;
    margin-top: 150px;
    font-size: 3em;
}

h2 {
    font-weight: bold;
    font-family: sans-serif;
}

.h1-4 {
    display: flex;
    color: black;
    text-decoration: none;
}

.h1-4:hover {
    color: black;
    text-decoration: underline;
}

.pages-h1 {
    display: flex;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

header {
    display: flex;
    font-weight: normal;
    justify-content: end;
}

.solution {
    display: flex;
    margin-bottom: 200px;
    color: black;
    text-decoration: none;
}

.solution:hover {
    color: black;
    text-decoration: underline;
}

/*navigation*/

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    width: 100%;

}

.nav-list {
    list-style-type: none;

}

.nav-list .list-item {
    display: inline-flex;
    padding: 20px 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul a:hover {
    text-decoration: underline
}

.nav-list .list-item a:active {
    font-weight: bold;
}

.logo {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5em;
}

#home {
    text-decoration: underline;
}

#about {
    text-decoration: underline;
}

#projects {
    text-decoration: underline;
}

#contact {
    text-decoration: underline;
}

/*footer*/

.footer-container {
    width: 100%;
    height: 500px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    margin-left: 25%;
}

.footer {
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
}

.footer img {
    height: auto;
    border-radius: 40%;
    margin-bottom: 10%;
    width: 100%;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 15%;
    width: 100%
}

/*adobe icons*/

.adobeicons {
    width: 100px;
    height: 100px;
}

.adobe {
    display: inline-flex;
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    margin-bottom: 15%;
    flex: 1;
}

/*crossword match*/

.cmbox {
    background-color:#7B8CDE;
    padding-left: 4%;
    width: 90%;
    height: 600px;
    margin-top: 10%;
    margin-left: 4%;
    display: flex;
    align-items: center;
    flex: auto;
}

.cmbox img {
    display: flex;
    width: 300px;
    height: 600px;
    flex: auto;
    width: 100%;
}

.cmtext {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    margin-left: 5%;
    color:#F5F5F5
}

/*ringe museum*/

.ringemuseum {
    width: 90%;
    height: 600px;
    margin-top: 10%;
    margin-left: 4%;
    margin-bottom: 12%;
    display: flex;
    align-items: center;
    flex: auto;
}

.ringemuseum img {
    display: flex;
    width: 700px;
    height: 500px;
    flex: 1;
    width: 100%;
}

.ringemuseumtext {
    width: 400px;
    height: 400px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    color:black
}

/*simply odense*/

.simplyodensebox {
    background-color:#5DA399;
    padding-left: 4%;
    width: 90%;
    height: 600px;
    margin-top: 10%;
    margin-left: 4%;
    display: flex;
    align-items: center;
}

.simplyodensebox img {
    display: flex;
    width: 300px;
    height: 600px;
    width: 100%;
}

.simplyodensetext {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    margin-left: 5%;
    color:#F5F5F5
}


/*about me*/

/*portrait*/

.portrait-container {
    width: 100%;
    height: 500px;
    margin-top: 15%;
    display: flex;
    align-items: center;
    margin-left: 12%;
    flex: auto;
}

.portrait {
    width: 400px;
    height: 500px;
    flex: auto;
    width: 100%;
}

.portrait-text {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 10%;
}

/*outdoor*/

.outdoor-container {
    width: 100%;
    margin-top: 15%;
    display: flex;
    align-items: center;
    margin-left: 12%;
    flex: auto;
}

.outdoor {
    width: 400px;
    height: 500px;
    flex: auto;
    width: 100%;
}

.outdoor-text {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 10%;
}

/*fun fact*/

.funfact-container {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex: auto;
}

.funfact-text {
    width: 400px;
    height: 400px;
    flex-direction: column;
    font-size: 25px;
    flex: auto;
}

.also-text {
    width: 400px;
    height: 400px;
    flex-direction: column;
    font-size: 25px;
    flex: auto;
}

/*kikkert tilbage i tiden poster*/

.kikkertposter {
    padding-left: 4%;
    width: 90%;
    height: 700px;
    margin-top: 10%;
    margin-left: 4%;
    display: flex;
    align-items: center;
}

.kikkertposter img {
    display: flex;
    width: 400px;
    height: 600px;
    width: 100%;
}

.kikkertposter-text {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    margin-left: 5%;
    color:black
}

/*bier vom fass*/

.biervomfass {
    padding-left: 4%;
    width: 90%;
    height: 700px;
    margin-top: 10%;
    margin-left: 4%;
    display: flex;
    align-items: center;
}

.biervomfass img {
    display: flex;
    width: 400px;
    height: 600px;
    width:100%;
}

.biervomfass-text {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    margin-left: 5%;
    color:black
}

/*crossword match under projects*/

.cm-projects {
    padding-left: 4%;
    width: 90%;
    height: 600px;
    margin-top: 10%;
    margin-left: 4%;
    display: flex;
    align-items: center;
}

.cm-projects img {
    display: flex;
    width: 300px;
    height: 600px;
    width: 100%;
}

.cm-projects-text {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    margin-left: 5%;
    color: black
}

/*Ringe Museum under projects*/

.ringemuseum-projects {
    width: 90%;
    height: 600px;
    margin-top: 10%;
    margin-left: 4%;
    margin-bottom: 12%;
    display: flex;
    align-items: center;
}

.ringemuseum-projects img {
    display: flex;
    width: 700px;
    height: 500px;
    width: 100%;
}

.ringemuseum-projects-text {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    color:black
}

.simplyodense-projects {
    padding-left: 4%;
    width: 90%;
    height: 600px;
    margin-top: 10%;
    margin-left: 4%;
    margin-bottom: 15%;
    display: flex;
    align-items: center;
}

.simplyodense-projects img {
    display: flex;
    width: 300px;
    height: 600px;
    width:100%
}

.simplyodense-projects-text {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    margin-left: 5%;
    color: black
}

/*contact*/

.contact-container {
    width: 90%;
    height: 500px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    margin-left: 25%;
}

.contact img {
    display: flex;
    width: 400px;
    height: 400px;
    border-radius: 40%;
    margin-bottom: 10%;
    width: 100%;
}

.contact-text {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    margin-left: 5%;
}



@media (max-width: 776px){

    h1 {
        font-size: 2em;
    }

    .adobe {
        flex-flow: row wrap;

    }

    .adobeicons {
        flex-direction: column;
        width: 75px;
        height: 75px;
    }

    .cmbox {
        flex-direction: column;
    }

    .cmbox img {
        max-width: 180px;
        max-height: 320px;
        flex-direction: column;
    }

    .cmtext {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .ringemuseum {
        flex-direction: column;
    }

    .ringemuseum img {
        flex-direction: column;
        max-width: 440px;
        max-height: 300px;
    }

    .ringemuseumtext {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .simplyodensebox {
        flex-direction: column;
    }
    
    .simplyodensebox img {
        max-width: 180px;
        max-height: 320px;
        flex-direction: column;
    }
    
    .simplyodensetext {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .footer-container {
        flex-direction: column;
    }
    
    .footer img {
        max-width: 200px;
        max-height: 200px;
        flex-direction: column;
        margin-left: 100px;
    }
    
    .footer-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .portrait-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 15%;
    }

    .portrait {
        width: 350px;
        height: auto;
        flex-direction: column;
    }

    .portrait-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .outdoor-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 55% 15% 10% 15%;
    }

    .outdoor {
        width: 350px;
        height: auto;
        flex-direction: column;

    }


    .outdoor-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .funfact-container {
        flex-direction: column;
    }

    .funfact {
        max-width: 180px;
        max-height: 320px;
        flex-direction: column;
    }

    .funfact-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .also-text {
    flex-direction: column;
    max-width: 300px;
    max-height: 300px;
    font-size: 18px;
    }

    .kikkertposter {
        flex-direction: column;
    }

    .kikkertposter img {
        max-width: 300px;
        max-height: 450px;
        flex-direction: column;
    }

    .kikkertposter-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .biervomfass {
        flex-direction: column;
    }

    .biervomfass img {
        max-width: 300px;
        max-height: 450px;
        flex-direction: column;
    }

    .biervomfass-text {
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
        flex-direction: column;
    }

    .cm-projects {
        flex-direction: column;
    }

    .cm-projects img {
        max-width: 180px;
        max-height: 320px;
        flex-direction: column;
    }

    .cm-projects-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .ringemuseum-projects {
        flex-direction: column;
    }

    .ringemuseum-projects img {
        flex-direction: column;
        max-width: 440px;
        max-height: 300px;
    }

    .ringemuseum-projects-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .simplyodense-projects {
        flex-direction: column;
    }

    .simplyodense-projects img {
        max-width: 180px;
        max-height: 320px;
        flex-direction: column;
    }

    .simplyodense-projects-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .contact-container {
        flex-direction: column;
        margin-left: 0;
    }

    .contact img {
        max-width: 200px;
        max-height: 200px;
        flex-direction: column;
    }

    .contact-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }
}

@media (max-width: 576px) {

    .navbar {
        flex-direction: column;
        justify-content: center;
    }

    .nav-list {
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
    }

    .footer-container {
        flex-direction: column;
        align-items: baseline;
    }

    .footer {
        flex-direction: column;
        align-items: baseline;
    }

    .footer img {
        max-width: 200px;
        max-height: 200px;
        margin-left: 0;
    }

    .footer-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .pages-h1 {
        margin-bottom: 10px;
    }

    .portrait-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 10%;
    }

    .portrait {
        width: 200px;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
    }

    .portrait-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .outdoor-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 10%;
    }
    .outdoor {
        width: 200px;
        height: auto;
        flex-direction: column;
    }


    .outdoor-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .funfact-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 10%;
    }

    .funfact {
        max-width: 180px;
        max-height: 320px;
        flex-direction: column;
        align-items: center;
    }

    .funfact-text {
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .also-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        margin: 10%;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }

    .contact img {
        max-width: 150px;
        max-height: 150px;
        margin-right: 80px;
        margin-bottom: 5%;
    }

    .contact-text {
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        font-size: 18px;
    }

}